<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/nav.css">
    <link rel="stylesheet" href="../styles/resume.css">
    <link rel="stylesheet" href="../styles/general.css">
    <script src="../scripts/jquery.js"></script>
    <script src="../scripts/navscript.js"></script>
</head>
<body>

<div class="navDiv">
    <nav class="navMaster">
        <div class="navLeft">
            <a class="navLogoMain">MN</a>
        </div>
        <div class="navRight container d-flex">
            <a class="navLinks firstNavItem" id="navHome" href="../index.html">Home</a>
            <a class="navLinks navActive" id="navResume" href="resume.html">Resume</a>
            <a class="navLinks" id="navProjects" href="projects.html">Projects</a>
            <a class="navLinks" id="navAbout" href="about.html">About</a>
            <a class="navLinks" id="navContact" href="contact.html">Contact</a>
        </div>
    </nav>
</div>

<div class="" id="websiteBody">
    <div class="bodyLeft"></div>
    <div class="bodyRight">
    </div>
</div>

</body>
</html>