<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/nav.css">
    <link rel="stylesheet" href="../styles/resume.css">
    <link rel="stylesheet" href="../styles/general.css">
    <script src="../scripts/jquery.js"></script>
    <script src="../scripts/navscript.js"></script>
</head>
<body>
    
<span id="colorStorage" style="display: none;">#ffe5e2</span>

<div class="navDiv">
    <nav class="navMaster">
        <div class="navLeft">
            <a class="navLogoMain">MN</a>
        </div>
        <div class="navRight container d-flex">
            <a class="navLinks firstNavItem" id="navHome" href="../index.html">Home</a>
            <a class="navLinks navActive" id="navResume" href="resume.html">Resume</a>
            <a class="navLinks" id="navProjects" href="projects.html">Projects</a>
            <a class="navLinks" id="navAbout" href="about.html">About</a>
            <a class="navLinks" id="navContact" href="contact.html">Contact</a>
        </div>
    </nav>
</div>

<div class="" id="websiteBody">
    <div class="bodyLeft"></div>
    <div class="bodyRight">
        <div class="resumeBody">

            <div id="skills">
                <h4 id="skillsHeader">Skills</h4>
                <div class="resPushRight">
                    <div id="languages">
                        <div class="langTop resTopItem">
                            <h5 class="langHead">Languages</h5>
                        </div>
                        <div class="langBottom resBottomItem">
                            <div class="displayer langDisp" style="display: none;">
                                <span class="langItem">C#</span>
                                <span class="langItem">JavaScript</span>
                                <span class="langItem">HTML/CSS</span>
                                <span class="langItem">JSON</span>
                                <span class="langItem">XML</span>
                                <span class="langItem">SQL</span>
                                <span class="langItem">noSQL</span>
                                <span class="langItem"></span>
                            </div>
                        </div>
                    </div>
                    <div id="laf">
                        <div class="lafTop resTopItem">
                            <h5 class="lafHead">Libraries and Frameworks</h5>
                        </div>
                        <div class="lafBottom resBottomItem">
                            <div class="displayer lafDisp" style="display: none;">
                                <span class="lafItem">.NET Core</span>
                                <span class="lafItem">jQuery</span>
                                <span class="lafItem">MVC</span>
                                <span class="lafItem">ASP.NET</span>
                                <span class="lafItem">Razor Pages</span>
                                <span class="lafItem">Node.js</span>
                                <span class="lafItem">Express</span>
                                <span class="lafItem">APIs</span>
                                <span class="lafItem"></span>
                                <span class="lafItem">Bootstrap</span>
                                <span class="lafItem">Entity Framework</span>
                                <span class="lafItem">Dapper ORM</span>
                                <span class="lafItem">NUnit</span>
                            </div>
                        </div>
                    </div>
                    <div id="environments">
                        <div class="envTop resTopItem">
                            <h5 class="environmentHead">Environments</h5>
                        </div>
                        <div class="envBottom resBottomItem">
                            <div class="displayer environmentsDisp" style="display: none;">
                                <span class="envItem">Visual Studio 2019</span>
                                <span class="envItem">Visual Studio Code</span>
                                <span class="envItem">Sublime</span>
                                <span class="envItem">SQL Server Management Studio</span>
                                <span class="envItem">MongoDB</span>
                                <span class="envItem">Command Prompt</span>
                                <span class="envItem">Git Bash</span>
                            </div>
                        </div>
                    </div>
                    <div id="general">
                        <div class="generalTop resTopItem">
                            <h5 class="generalHead">General</h5>
                        </div>
                        <div class="generalBottom resBottomItem">
                            <div class="displayer generalDisp" style="display: none;">
                                <span class="genItem">Full Stack Development</span>
                                <span class="genItem">Object Orientation</span>
                                <span class="genItem">Generics</span>
                                <span class="genItem">Server-side Validation</span>
                                <span class="genItem">REST</span>
                                <span class="genItem">Testing</span>
                                <span class="genItem"></span>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

            <div id="education">
                <h4 id="educationHeader">Education</h4>
                <div class="resPushRight">
                    <div id="eduSWG">
                        <div class="SWGTop resTopItem">
                            <h5 class="SWGHead">The Software Guild</h5>
                        </div>
                        <div class="SWGBottom resBottomItem">
                            <div class="displayer" id="SWGDisp">
                                <div class="eduDate" id="SWGDate"></div>
                            </div>
                        </div>
                    </div>
                    <div id="eduWDB">
                        <div class="WDBTop resTopItem">
                            <h5 class="WDBHead">The Web Developer Bootcamp</h5>
                        </div>
                        <div class="WDBBottom resBottomItem">
                            <div class="displayer" id="WDBDisp">
                                <div class="eduDate" id="WDBDate"></div>
                            </div>
                        </div>
                    </div>
                    <div id="eduDCT">
                        <div class="DCTTop resTopItem">
                            <h5 class="DCTHead">Dunwoody College of Technology</h5>
                        </div>
                        <div class="DCTBottom resBottomItem">
                            <div class="displayer" id="DCTDisp">
                                <div class="eduDate" id="DCTDate"></div>
                            </div>
                        </div>
                    </div>
                </div>

            <div id="work">
                <h4 id="workHeader">Work</h4>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../scripts/resume.js"></script>
</body>
</html>