/* #B3C530 */

.bodyRight{
    background-color: #B3C530;
}

.navLogoMain:hover{
    background-color: #B3C530;
    border: #B3C530 1px solid;
}

.navActive:hover{
    color: #B3C530;
}

.about{
    font-family: "font100";
    font-size: 3.6vw;
    padding-top: 15rem;
}