/* #D6AB51 */

.bodyRight{
    background-color: #D6AB51;
}

.navLogoMain:hover{
    background-color: #D6AB51;
    border: #D6AB51 1px solid;
}

.navActive:hover{
    color: #D6AB51;
}

.about{
    font-family: "font100";
    font-size: 3.6vw;
    padding-top: 15rem;
}