/* #162a52 */

.bodyRight{
    background-color: #162a52;
}

.navLogoMain:hover{
    background-color: #162a52;
    border: #162a52 1px solid;
}

.navActive:hover{
    color: #162a52;
}

.bodyMiddle{
    width: 49%;
}

/* .bodyRight{
    float: right;
    width: 14%;
    height: 100%;
    transition: color 1000ms ease-in-out;
} */