/* #26488D */

.bodyRight{
    background-color: #26488D;
}

.navLogoMain:hover{
    background-color: #26488D;
    border: #26488D 1px solid;
}

.navActive:hover{
    color: #26488D;
}

.bodyMiddle{
    width: 49%;
}

/* .bodyRight{
    float: right;
    width: 14%;
    height: 100%;
    transition: color 1000ms ease-in-out;
} */