/*#ffecf5 */

.bodyRight{
    float: left;
    background-color: #ffecf5;
    width: 90%;
}

.bodyLeft{
    width: 10%;
}

.navLogoMain:hover{
    background-color:#ffecf5;
    border:#ffecf5 1px solid;
}

.navActive:hover{
    color:#ffecf5;
}

.resumeBody{
    position: absolute;
    top: 1vh;
    left: 52vw;
    margin-right: 5vw;
    margin-top: 8rem;
}

h4{
    animation: h4slideLeft 1s ease;
}

h5{
    font-weight: 300;
    margin: 1vh 0vw;
    animation: h5slideLeft 1s ease;
}

span{
    font-size: 0.5vw;
}

.resPushRight{
    margin: 2vh 2vw;
}

/* .resTopItem{
    margin-left: 0.8vw;
}

.resBottomItem{
    margin-left: 1.5vw;
} */

@keyframes h5slideLeft{
    0% {margin-left: 3vw; opacity: 0;}
    100% {margin-left: 0vw; opacity: 1;}
}

@keyframes h4slideLeft{
    0% {margin-left: 2vw; opacity: 0;}
    100% {margin-left: 0vw; opacity: 1;}
}